@model User
@{
    ViewData["Title"] = "ResetPasswordPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <section class="profile-account-setting">
        <div class="acc-setting">
            <h3>Account Setting</h3>
            @using (Html.BeginForm("ResetPasswordPage", "Home", FormMethod.Post))
    {
        <div class="cp-field">
            <h5>Old Password</h5>
            <div class="cpp-fiel">
                <input type="text" name="oldPassword" placeholder="Old Password">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="cp-field">
            <h5>New Password</h5>
            <div class="cpp-fiel">
                <input type="text" name="newPassword" placeholder="New Password">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="cp-field">
            <h5>Repeat Password</h5>
            <div class="cpp-fiel">
                <input type="text" name="repeatPassword" placeholder="Repeat Password">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="save-stngs pd2">
            <ul>
                <li><button class="active" type="submit">Save</button></li>
                <li style="color:red">@ViewBag.message</li>
            </ul>

        </div><!--save-stngs end-->
}
        </div><!--acc-setting end-->

        <div class="post-popup job_post">
            <div class="post-project">
                <h3>Password Change</h3>
                <div class="post-project-fields">
                    <form>
                        <div class="row">
                            <div class="col-lg-12" align="center">
                                <h2 name="description">Model</h2>
                            </div> <br /><br />
                            <div class="col-lg-12" align="center">
                                <ul>
                                    <li><button class="active" type="submit" value="post">Ok</button></li>
                                    <li><button class="active" type="submit" value="post">Cancel</button></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div><!--post-project-fields end-->
                <a href="#" title=""><i class="la la-times-circle-o"></i></a>
            </div><!--post-project end-->
        </div><!--post-project-popup end-->
    </section>
</div>